<!doctype html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-12 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-10 col-12 main_header_left aligns-items-center">
                        <figure > <img src="img/bg6.png" alt="img"></figure>
                   
                        <p>Welcome to the Rahul Technical World</p>
                        <h1> oops we cannot find the page you looking for</h1>
                        <a href="/weather"><button> Go back</button></a>
                    </div>

                </div>

            </div>

        </div>
    </div>
    </div>
    <!-- footer  -->
    {{>footer}}
    {{>script}}
</body>

</html>