<!doctype html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure><img src="img/bg4.png" alt=""></figure>
                    </div>

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the weather app</p>
                        <h1> Get the latest <span>weather</span> info of your City</h1>
                        <a href="/weather"><button> click here</button></a>
                    </div>

                </div>

            </div>

        </div>
    </div>
    </div>
    <!-- footer  -->
    {{>footer}}
    {{>script}}
</body>
</html>